/****
Nav
****/
.nav {
  display: flex;
  list-style-type: none;
  padding: 1em 2em;
  color: #555;
}

.nav .active {
  font-weight: bold;
  color: #000;
}

.nav .bright {
  color: #AAA;
}

.nav .bright.active {
  color: #FFF;
}

.nav li {
  margin-right: 1.1em;
}

.nav a {
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 1.0em;
  color: #555;
}

.nav .nav-logo {
  margin-right: 0em;
  margin-top: 0em;
  height: 1.3em;
  opacity: 0.7;
}
.home-title {
  position: relative;
  color: #CCC;
  font-family: "Oswald";
  font-weight: 300;
  font-size: 5em;
  letter-spacing: 0.8em;
  margin: 0.8em;
  transform: scale(0.8, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p5-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .home-title {
    font-size: 3.5em;
    letter-spacing: 0.4em;
    margin: 0.6em;
    transform: scale(0.8, 1);
  }
}
.about-title {
  margin: 1em 2em;
  font-size: 3em;
  font-family: "Oswald";
  font-weight: 300;
  letter-spacing: 0.8em;
}

.about-container {
  margin: 1em 6em;
  font-size: 1em;
  font-weight: 300;
  width: 400px;
}

.about-content {
  margin-top: 1em;
  font-family: "open sans";
  letter-spacing: 0.1em;
  line-height: 1.8em;
}

.sn-list {
  display: flex;
  list-style-type: none;
}

.sn-icon {
  width: 20px;
  height: auto;
  margin-top: 3em;
  margin-right: 2em;
  opacity: 0.5;
}

.sn-icon:hover {
  opacity: 0.9;
}

@media only screen and (max-width: 720px) {
  .about-title {
    margin: 0.5em 1em;
    font-size: 2.8em;
    font-family: "Oswald";
    font-weight: 300;
    letter-spacing: 0.8em;
  }
  .about-container {
    display: block;
    margin: 1em 3em;
    font-size: 1em;
    font-weight: 300;
    width: 380px;
  }
  .sn-icon {
    width: 18px;
    height: auto;
    margin-top: 2em;
    margin-right: 1.4em;
    opacity: 0.5;
  }
}

@media only screen and (max-width: 480px) {
  .about-title {
    margin: 0.5em 0.8em;
    font-size: 2.5em;
    font-family: "Oswald";
    font-weight: 300;
    letter-spacing: 0.8em;
  }
  .about-container {
    display: block;
    margin: 1em 2em;
    font-size: 1em;
    font-weight: 300;
    width: 300px;
  }
}
.project-list-item {
  margin-bottom: 60px;
}

.project-devider {
  opacity: 0.3;
}

.project-container {
  position: relative;
  display: block;
  margin-bottom: 50px;
  min-height: 800px;
}

.project-title {
  margin: 1em 2em;
  font-size: 3em;
  font-family: "Oswald";
  font-weight: 300;
  letter-spacing: 0.8em;
}

.description-container {
  display: block;
  margin: 1em 6em;
  font-size: 1em;
  font-weight: 300;
}

.projects-description {
  margin-top: 0;
  font-family: "open sans";
  letter-spacing: 0.1em;
  line-height: 1.8em;
}

.projects-description a {
  text-decoration: none;
  color: #000;
  opacity: 0.5;
}

.projects-description a:hover {
  opacity: 1;
}

.thumbnail-project-img {
  position: relative;
  float: right;
  margin-top: 0;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 40px;
  width: 60%;
  height: 600px;
  overflow: hidden;
}

.thumbnail-project-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1100px) {
  .thumbnail-project-img {
    position: relative;
    float: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
    width: 100%;
    height: 630px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 720px) {
  .project-title {
    margin: 0.5em 1em;
    font-size: 2.8em;
    font-family: "Oswald";
    font-weight: 300;
    letter-spacing: 0.5em;
  }
  .thumbnail-project-img {
    position: relative;
    float: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
    width: 100%;
    height: 400px;
  }
  .description-container {
    display: block;
    margin: 1em 2em;
    font-size: 0.9em;
    font-weight: 300;
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .project-container {
    position: relative;
    display: block;
    margin-bottom: 50px;
    min-height: 400px;
  }
  .project-title {
    margin: 0.5em 0.8em;
    font-size: 2.5em;
    font-family: "Oswald";
    font-weight: 300;
    letter-spacing: 0.3em;
  }
  .thumbnail-project-img {
    width: 100%;
    height: 300px;
  }
  .description-container {
    display: block;
    margin: 0.8em 1em;
    font-size: 0.8em;
    font-weight: 300;
    width: 90%;
  }
}
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(/assets/fonts/10dbc03f6171f566d4eb80643014ccbd.woff2) format("woff2"), url(/assets/fonts/80093af4e43c616635651b60abcacffb.woff) format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(/assets/fonts/9bd6fd3f39a88e34c897f388e6a2c50f.woff2) format("woff2"), url(/assets/fonts/e447d08f4d164f3995e7c5090a735332.woff) format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(/assets/fonts/80300f16880e83016ced900461ef2097.woff2) format("woff2"), url(/assets/fonts/a97a3aae80356b0497b7d24aa9bdfa27.woff) format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* vt323-regular - latin */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local("VT323 Regular"), local("VT323-Regular"), url(/assets/fonts/b4e11f436dd6c4130f2aa3961e719c31.woff2) format("woff2"), url(/assets/fonts/e2353f92a0ea88f29a30a3761b91765a.woff) format("woff"), url(/assets/fonts/735e0b3b4bbaa97f21ac5a862d310c7e.ttf) format("truetype"), url(/assets/images/e91ab05faa8d30bbe01397d6cf56cf48.svg#VT323) format("svg");
  /* Legacy iOS */
}

/* contrail-one-regular - latin */
@font-face {
  font-family: 'Contrail One';
  font-style: normal;
  font-weight: 400;
  src: local("Contrail One"), local("ContrailOne-Regular"), url(/assets/fonts/e5bb8b1f6143a9814681da11dbb67f51.woff2) format("woff2"), url(/assets/fonts/696d5e736442f8320f5119fd93323de0.woff) format("woff"), url(/assets/fonts/6732fb19c319e99df1a74d8f3dcfda7f.ttf) format("truetype"), url(/assets/images/11cb3c44d7cc1d94d40c028da8e3bf5e.svg#ContrailOne) format("svg");
  /* Legacy iOS */
}

/* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url(/assets/fonts/adcef7da535697d48d012b2ffcaf5d02.woff2) format("woff2"), url(/assets/fonts/83f530ac777dc45df0da937d841a6b0b.woff) format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local("Oswald Medium"), local("Oswald-Medium"), url(/assets/fonts/9d1c4c6c8410464ec5d08f18f6c176cd.woff2) format("woff2"), url(/assets/fonts/06c9398afea7f4bdc38a65494d96f48f.woff) format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-300 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local("Oswald Light"), local("Oswald-Light"), url(/assets/fonts/d287e604182b18f7adb55daa1643dc83.woff2) format("woff2"), url(/assets/fonts/6f230579880d547bb70c7aab423daab4.woff) format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-600 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: local("Oswald SemiBold"), local("Oswald-SemiBold"), url(/assets/fonts/dd11f9917919e2154687a9c32e94bbfd.woff2) format("woff2"), url(/assets/fonts/5db2da873ef90a29e33516002391c5f7.woff) format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html * {
  padding: 0;
  margin: 0;
  font-family: "Contrail One";
  font-size: 1em;
}
