.home-title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 5em;
  letter-spacing: 0.8em;
  margin: 0.8em;
  transform: scale(.8, 1);
}

.p5-sketch {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .home-title {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 3.5em;
    letter-spacing: 0.4em;
    margin: 0.6em;
    transform: scale(.8, 1);
  }
}
