/****
Nav
****/
.nav {
  display: flex;
  list-style-type: none;
  padding: 1em 2em;
  color: #555;
}

.nav .active {
  font-weight: bold;
  color: #000;
}

.nav .bright {
  color: #AAA;
}

.nav .bright.active {
  color: #FFF;
}


.nav li {
  margin-right: 1.1em;
}

.nav a {
  text-decoration: none;
  font-size: 1.0em;
  color: #555;
}

.nav .nav-logo {
  margin-right: 0em;
  margin-top: 0em;
  height: 1.3em;
  opacity: 0.7;
}
